<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Louis Nolan - Online CV</title>
    <meta name="msvalidate.01" content="770BAF1A89B1B223382290E729F4D429" />
</head>
<body>

    <!-- Background Image -->
    <div class="background"></div>

    <!-- Content Container -->
    <div class="container">
        <div class="header">
            <h1>Louis Nolan</h1>
            <p>Web Developer | Programmer | Designer</p>
        </div>
        <div class="section">
            <!-- Tab Links -->
            <div class="tab">
                <button class="tablinks" onClick="openTab(event, 'about')" id="defaultOpen">About Me</button>
                <button class="tablinks" onClick="openTab(event, 'workEx')">Work Experience</button>
                <button class="tablinks" onClick="openTab(event, 'education')">Education</button>
            </div>

            <div id="about" class="tabcontent">
                <h2>About Me</h2>
                <p>I am a Computing student at Liverpool John Moores University, on track to recieve a 1st class degree in July 2025.</p>
                <p>Alongside my studies, I work part time as a web content creator. This role began as an internship to gain experience during the summer term. This role grew into a permanent position in addition to my studies.</p>
                <p>During this role I have gained experience in content development, SEO analysis, UX design, excel formula creation, graphical photoshop editing, and Google Analytics. This experience has allowed me to strengthen my skills that are vital to web development.</p>
                <p>I am keen to begin my career as a web developer, I am always looking for opportunities to apply knowledge and expand my skill set.</p>
            </div>

            <div id="workEx" class="tabcontent">
                <h2>Work Experience</h2>
                <h3>Jacksons Leisure Supplies - Web Developer & Content Creator (2024)</h3>
                <ul>
                    <li>Started as an internship, led to summer job, continued while studying.</li>
                    <li>Developed web content, added products, formatted pages, managed stock levels, used Google Analytics.</li>
                    <li>Managed various websites and resolved technical issues.</li>
                </ul>

                <h3>Pizza Express - Waiter (2023 - 2024, Part Time)</h3>
                <ul>
                    <li>Provided excellent customer service and handled inquiries.</li>
                    <li>Worked in a fast-paced environment, developing strong communication and teamwork skills.</li>
                </ul>

                <h3>Radisson Red - Waiter (Summer 2023)</h3>
                <ul>
                    <li>Served tables, washed dishes, made cocktails, tended bar.</li>
                </ul>

                <h3>Village Bakery - Production Manager (Summer 2023)</h3>
                <ul>
                    <li>Quickly climbed up the ladder and led a work section.</li>
                </ul>

                <h3>Pizza Hut - Waiter (2018 - 2022, Part Time)</h3>
                <ul>
                    <li>Provided customer service and worked in a fast-paced team environment.</li>
                </ul>
                <h2>Projects</h2>
                <h3>Cross-browser Compatibility Web Application (2024-2025)</h3>
                <p>For my dissertation project I am building a web application that comapres a website across multiple browsers and informs the user on their compatibility.
                <h3>Greener Solutions - Logo Design (2022)</h3>
                <p>Designed a logo banner used for ID badges, brand marketing, and company vehicles.</p>

                <h3>F Jones Initiative - Website Design (2022)</h3>
                <p>Led a group of students to design a website, using HTML and CSS, while learning client communication and prototype development.</p>
            </div>

            <div id="education" class="tabcontent">
                <h2>Education</h2>
                <h3>Liverpool John Moores University (2022 - Present)</h3>
                <p><strong>Bachelor of Science in Computing</strong> (Expected Graduation: 2025)</p>
                <ul>
                    <li>Current studying with an average grade of 73.1.</li>
                    <li>Member of the Computer Science Community and the Climbing Club.</li>
                    <li>Course Representative for 3 years.</li>
                    <li>Relevant Courses: Programming, Software Development, Web Development, Database Management, Data Analytics, and User Experience Design.</li>
                </ul>

                <h3>Coleg Cambria (2020 - 2022)</h3>
                <p><strong>BTEC Extended Diploma in Computing</strong> - Final Grade: D*D*D*</p>
                <ul>
                    <li>Exceptional coursework, including coding projects and web development.</li>
                    <li>Active participation in college extracurricular activities.</li>
                </ul>

                <h3>Ysgol Bryn Alyn (2012 - 2018)</h3>
                <p><strong>12 GCSEs</strong> (Grades C-B), including Mathematics, English, and Science.</p>
            </div>
        
            <div class="skills">
                <h2>Skills</h2>
                <ul>
                    <li>Conent Creation</li>
                    <li>HTML, CSS, JavaScript, PHP</li>
                    <li>Python, Java</li>
                    <li>Excel Specialist</li>
                    <li>Search Engine Optimisation</li>
                    <li>Google Analytics</li>
                    <li>SQL Database Management</li>
                    <li>Graphic Design</li>
                </ul>
            </div>

            <div class="hobbies">
                <h2>Hobbies</h2>
                <ul>
                    <li >Gym</li>
                    <li>Rugby</li>
                    <li>Climbing</li>
                    <li>Reading</li>
                    <li>Hiking & Walking</li>
                </ul>
            </div>
        
            <div class="contact">
            <h2>Contact</h2>

            <!-- Contact Info in a Single Line -->
            <div class="contact-info">
                <p><i class="fas fa-envelope"></i> <strong>Email:</strong> <a href="mailto:louis.nolan@icloud.com">louis.nolan@icloud.com</a></p>
                <p><i class="fas fa-phone"></i> <strong>Phone:</strong> <a href="tel:07803888647">07803888647</a></p>
                <p><i class="fas fa-map-marker-alt"></i> <strong>Location:</strong> Wrexham, United Kingdom</p>
            </div>

            <!-- Social Media Icons Below -->
            <div class="contact-icons">
                <a aria-label="Chat on WhatsApp" href="https://wa.me/07803888647"> 
                    <img alt="Chat on WhatsApp" src="../static/images/whatsapp.png" />
                </a>
                <a aria-label="Add me on Instagram" href="https://www.instagram.com/lou_nolan21/"> 
                    <img alt="Add me on Instagram" src="../static/images/instagram.png" />
                </a>
                <a aria-label="Add me on Linkedin" href="https://www.linkedin.com/in/louis-nolan-07189b213/"> 
                    <img alt="Add me on Linkedin" src="../static/images/linkedin.png" />
                </a>
                <a aria-label="Add me on Facebook" href="https://www.facebook.com/louis.nolan.31?locale=en_GB"> 
                    <img alt="Add me on Facebook" src="../static/images/facebook.png" />
                </a>
            </div>
        </div>

        </div>
        <div class="footer">
            <p>&copy; 2025 Louis Nolan. All Rights Reserved.</p>
            <script>
        function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
        </div>
    </div>

</body>
</html>
